.businessCardList {
    display: grid;
    list-style: none;
    grid-template-columns: 45% 45%;
    row-gap: 5vh;
}

@media all and (width >= 480px) {
    .businessCardList {
        grid-template-columns: 30% 30% 30%;
    }
}
@media all and (width >= 780px) {
    .businessCardList {
        grid-template-columns: 22% 22% 22% 22%;
    }
}
@media all and (width >= 1250px) {
    .businessCardList {
        grid-template-columns: 19% 19% 19% 19% 19%;
    }
}